{% extends 'base.html.twig' %}

{% block title %}PetBuddy - modification{% endblock %}

{% block body %}

{% if app.user %}
  {{ dump(app.user.username) }}
{% endif %}

{% for message in app.flashes('contact_edit_success') %}
<div class="alert alert-success" role="alert">
  Congratulation!! {{ message }}
</div>
{% endfor %}

<h1> Modifier Message</h1>  

    

       {{ form_start(formContactMessage)}}
            <div class="row">
                {{form_label(formContactMessage.users, 'N° Membre')}}
                {{form_widget(formContactMessage.users)}}
            </div>                      
            <div class="row">
                {{form_label(formContactMessage.announces, 'N° Annonce')}}
                {{form_widget(formContactMessage.announces)}}
            </div>
            <div class="row">
                {{form_label(formContactMessage.message, 'Message')}}
                {{form_widget(formContactMessage.message)}}
            </div>
            <div class="row">
                {{form_label(formContactMessage.animalType, 'Type D\'animal')}}
                {{form_widget(formContactMessage.animalType)}}
            </div>                                            
            <br>
            <button type="submit" class="btn btn-success btn-sm mb-1">Modifier</button>
        {{ form_end(formContactMessage)}}
   
    
{% endblock %}