
      <nav>
          <div class="Nav" id="maNav">

              <img src="{{ asset('img/logo.png') }}" alt="logo chat chien oiseau petsitter" id="logo" >

              <a href="{{ path('app_register') }}" id="inscrip"> S'inscrire</a>

              <a href="{{ path('app_register') }}" id="conx"> Devenir PetSitter </a>

              <a href="{{ path('app_login')}}" >Connexion</a>

              <a href="{{ path('index') }}">Accueil</a>

              <a href="https://www.gouvernement.fr/info-coronavirus/carte-et-donnees"><img src="https://img.icons8.com/ios/50/000000/info--v2.png" id="covidicon"></a>

              <a href="#" class="icon" onclick="sideBar()">
              <i class="fas fa-bars"></i></a>
              
          </div>
                  
      </nav>